<div class="header">
    <div class="left">
        <i class="fa-solid fa-bars menu"></i>
    </div>
    <div class="middle">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search" class="search-input">
        </div>
    </div>
    <div class="right">
        <div class="lang">
            <select class="custom-dropdown" id="language" name="language">
                <option value="english">ENG</option>
                <option value="hindi">HIN</option>
                <option value="french">FRE</option>
            </select>
            <span class="custom-arrow">
                <i class="fa-solid fa-caret-down down-arrow"></i>
            </span>
        </div>
        <div class="message">
            <i class="fa-regular fa-message msg-icon"></i>
        </div>
        <div class="alert">
            <i class="fa-regular fa-bell bell-icon"></i>
        </div>
        <div class="user-image">
            <img src="/assets/images/pfp.png" alt="" class="profile-img">
        </div>
        <div class="user-name">
            <p>Himanshu</p>
        </div>
    </div>
</div>
