<div class="top-section">
    <app-top-widgets></app-top-widgets>
</div>
<div class="mid-section">
    <div class="recent-orders">
        <app-recent-orders></app-recent-orders>
    </div>
    <div class="new-users">
        <app-new-users></app-new-users>
    </div>
</div>
<div class="bottom-section">
    <div class="sales-statistics">
        <app-sales-statistics></app-sales-statistics>
    </div>
    <div class="balance-overview">
        <app-balance-overview></app-balance-overview>
    </div>
    <div class="top-products">
        <app-top-products></app-top-products>
    </div>
</div>
